.track-view {
  flex: 1;
  background-color: #0f0f0f;
  border-radius: 8px;
  border: 1px solid #333;
  overflow: hidden;
  position: relative;
}

.track-view canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
